<h2> {{proprietario?.nome | uppercase}}<i *ngIf="!processing" class="fa fa-pencil fa-fw" (click)='irProfile()'></i> </h2>
<div class="container">
  <p class="text-warning">{{proprietario?.endereco}} {{proprietario?.numero}} {{proprietario?.bairro}}</p>
  <p class="text-warning">{{proprietario?.cidade}} {{proprietario?.estado}} {{proprietario?.cep}}</p>
</div>
<div class="container">
  <div *ngFor="let servicorealizado of servicosrealizado;">
    <div class="alert alert-dismissible alert-success">
      Veiculo:
      <strong>
      {{servicorealizado.veiculo.marca}}
      {{servicorealizado.veiculo.modelo}}
  </strong> PLACA:
      <strong>
    {{servicorealizado.veiculo.placa}}
    </strong>
    <i style='cursor:pointer' class="fa fa-pencil fa-fw" (click)='irVeiculo(servicorealizado.veiculo._id)'></i>
    </div>
    <div class="list-group" *ngFor="let ordemservico of servicorealizado.ordensservico;">
      <a class="list-group-item active">
        <div class='container'>
          <div class='col-sm-3'>
            {{ordemservico.empresanome}}
          </div>
          <div class='col-sm-2'>
            {{ordemservico.data}}
          </div>
          <div class='col-sm-2'>
            Km: {{ordemservico.quilometragem}}
          </div>
          <div class='col-sm-2'>
            Cel.: {{ordemservico.empresacelular}}
          </div>
        </div>
      </a>
      <a class="list-group-item" *ngFor="let servico of ordemservico.servicos">
        <div class='container'>
          <div class='col-sm-3'>
            {{servico.descricao}}
          </div>
          <div class='col-sm-4'>
          Dt próx. troca {{servico.proximatrocadata}}
          </div>
          <div class='col-sm-3'>
           Km próx. troca {{servico.proximatroca}}
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
