<!-- <div class="container">
  <h2 class="page-header"> {{proprietario?.nome | uppercase}}<i *ngIf="!processing" class="fa fa-pencil fa-fw" (click)='irProfile()'></i> </h2>
</div> -->

<section>
<div class='container'>
  <h2 class="title">SERVIÇOS REALIZADOS</h2>
  <div *ngFor="let servicorealizado of servicosrealizado; let cServ = index">

    <div class="row" style='margin-top:40px'>
      <div class="col-sm-3" >
        <h4>
          {{servicorealizado.veiculo.placa}}
        </h4>
      </div>
      <div class="col-sm-3" >
        <h4>
          {{servicorealizado.veiculo.marca}}
          {{servicorealizado.veiculo.modelo}}
        <i style='cursor:pointer' class="fa fa-pencil fa-fw" (click)='irVeiculo(servicorealizado.veiculo._id)'></i>
        </h4>
      </div>
    <div>
    <div class="container" style='margin-top:80px'>
      <div class="row">
        <div class="col-sm-3">
          <div class="port_item xs-m-top-30">
            <div class="port_img">
              <img src="assets/images/TrocaOleo3.png" alt="" />
            </div>
            <div class="port_caption m-top-20">
              <h5>Troca de óleo</h5>
              <h6>- Dt. últ.  revisão: {{oleoultima[cServ]===""?oleoultima[cServ]:"Não informado"}}</h6>
              <h6>- Dt. próx. revisão: {{oleodata[cServ]===""?oleodata[cServ]:"Não informado"}}</h6>
              <h6>- KM  próx. revisão: {{oleokm[cServ]===""?oleokm[cServ]:0 | number:'1.0-0' }}</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="port_item xs-m-top-30">
            <div class="port_img">
              <img src="assets/images/Filtros.png" alt="" />

            </div>
            <div class="port_caption m-top-20">
              <h5>Troca de filtros</h5>
              <h6>- Dt. últ.  revisão: {{filtroultima[cServ]===""?filtroultima[cServ]:"Não informado"}}</h6>
              <h6>- Dt. próx. revisão: {{filtrodata[cServ]===""?filtrodata[cServ]:"Não informado"}}</h6>
              <h6>- KM  próx. revisão: {{filtrokm[cServ]===""?filtrokm[cServ]:0 | number:'1.0-0' }}</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="port_item xs-m-top-30">
            <div class="port_img">
              <img src="assets/images/Injecao.png" alt="" />
            </div>
            <div class="port_caption m-top-20">
              <h5>Injeção</h5>
              <h6>- Dt. últ.  revisão: {{injecaoultima[cServ]===""?injecaoultima[cServ]:"Não informado"}}</h6>
              <h6>- Dt. próx. revisão: {{injecaodata[cServ]===""?injecaodata[cServ]:"Não informado"}}</h6>
              <h6>- KM  próx. revisão: {{injecaokm[cServ]===""?injecaokm[cServ]:0 | number:'1.0-0' }}</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="port_item xs-m-top-30">
            <div class="port_img">
              <img src="assets/images/limpezabico.png" alt="" />
            </div>
            <div class="port_caption m-top-20">
              <h5>Limpeza de bico</h5>
              <h6>- Dt. últ.  revisão: {{bicoultima[cServ]===""?bicoultima[cServ]:"Não informado"}}</h6>
              <h6>- Dt. próx. revisão: {{bicodata[cServ]===""?bicodata[cServ]:"Não informado"}}</h6>
              <h6>- KM  próx. revisão: {{bicokm[cServ]===""?bicokm[cServ]:0 | number:'1.0-0' }}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top:80px">
      <div class="row">
        <div class="col-sm-3">
          <div class="port_item xs-m-top-30">
            <div class="port_img">
              <img src="assets/images/velas.png" alt="" />
            </div>
            <div class="port_caption m-top-20">
              <h5>Velas</h5>
              <h6>- Dt. últ.  revisão: {{velasultima[cServ]===""?velasultima[cServ]:"Não informado"}}</h6>
              <h6>- Dt. próx. revisão: {{velasdata[cServ]===""?velasdata[cServ]:"Não informado"}}</h6>
              <h6>- KM  próx. revisão: {{velaskm[cServ]===""?velaskm[cServ]:0 | number:'1.0-0' }}</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="port_item xs-m-top-30">
            <div class="port_img">
              <img src="assets/images/Freio.png" alt="" />

            </div>
            <div class="port_caption m-top-20">
              <h5>Freios</h5>
              <h6>- Dt. últ.  revisão: {{freiosultima[cServ]===""?freiosultima[cServ]:"Não informado"}}</h6>
              <h6>- Dt. próx. revisão: {{freiosdata[cServ]===""?freiosdata[cServ]:"Não informado"}}</h6>
              <h6>- KM  próx. revisão: {{freioskm[cServ]===""?freioskm[cServ]:0 | number:'1.0-0' }}</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="port_item xs-m-top-30">
            <div class="port_img">
              <img src="assets/images/correa.png" alt="" />
            </div>
            <div class="port_caption m-top-20">
              <h5>Correia dentada ou corrente</h5>
              <h6>- Dt. últ.  revisão: {{correiaultima[cServ]===""?correiaultima[cServ]:"Não informado"}}</h6>
              <h6>- Dt. próx. revisão: {{correiadata[cServ]===""?correiadata[cServ]:"Não informado"}}</h6>
              <h6>- KM  próx. revisão: {{correiakm[cServ]===""?correiakm[cServ]:0 | number:'1.0-0' }}</h6>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="port_item xs-m-top-30">
            <div class="port_img">
              <img src="assets/images/suspensao.png" alt="" />
            </div>
            <div class="port_caption m-top-20">
              <h5>Suspensão</h5>
              <h6>- Dt. últ.  revisão: {{suspensaoultima[cServ]===""?suspensaoultima[cServ]:"Não informado"}}</h6>
              <h6>- Dt. próx. revisão: {{suspensaodata[cServ]===""?suspensaodata[cServ]:"Não informado"}}</h6>
              <h6>- KM  próx. revisão: {{suspensaokm[cServ]===""?suspensaokm[cServ]:0 | number:'1.0-0' }}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="container" style="margin-top:80px;margin-bottom:80px">
        <div class="row">
          <div class="col-sm-3">
            <div class="port_item xs-m-top-30">
              <div class="port_img">
                <img src="assets/images/Pneus.png" alt="" />
              </div>
              <div class="port_caption m-top-20">
                <h5>Pneus</h5>
                <h6>- Dt. últ.  revisão: {{pneusultima[cServ]===""?pneusultima[cServ]:"Não informado"}}</h6>
                <h6>- Dt. próx. revisão: {{pneusdata[cServ]===""?pneusdata[cServ]:"Não informado"}}</h6>
                <h6>- KM  próx. revisão: {{pneuskm[cServ]===""?pneuskm[cServ]:0 | number:'1.0-0' }}</h6>
                </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="port_item xs-m-top-30">
              <div class="port_img">
                <img src="assets/images/rodizio.png" alt="" />

              </div>
              <div class="port_caption m-top-20">
                <h5>Rodizio de pneus</h5>
                <h6>- Dt. últ.  revisão: {{rodizioultima[cServ]===""?rodizioultima[cServ]:"Não informado"}}</h6>
                <h6>- Dt. próx. revisão: {{rodiziodata[cServ]===""?rodiziodata[cServ]:"Não informado"}}</h6>
                <h6>- KM  próx. revisão: {{rodiziokm[cServ]===""?rodiziokm[cServ]:0 | number:'1.0-0' }}</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="port_item xs-m-top-30">
              <div class="port_img">
                <img src="assets/images/alinhamento.png" alt="" />
              </div>
              <div class="port_caption m-top-20">
                <h5>Alinhamento e balanceamento</h5>
                <h6>- Dt. últ.  revisão: {{alinhamentoultima[cServ]===""?alinhamentoultima[cServ]:"Não informado"}}</h6>
                <h6>- Dt. próx. revisão: {{alinhamentodata[cServ]===""?alinhamentodata[cServ]:"Não informado"}}</h6>
                <h6>- KM  próx. revisão: {{alinhamentokm[cServ]===""?alinhamentokm[cServ]:0 | number:'1.0-0' }}</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="port_item xs-m-top-30">
              <div class="port_img">
                <img src="assets/images/Amortecedores.png" alt="" />
              </div>
              <div class="port_caption m-top-20">
                <h5>Amortecedores</h5>
                <h6>- Dt. últ.  revisão: {{amortecedorultima[cServ]===""?amortecedorultima[cServ]:"Não informado"}}</h6>
                <h6>- Dt. próx. revisão: {{amortecedordata[cServ]===""?amortecedordata[cServ]:"Não informado"}}</h6>
                <h6>- KM  próx. revisão: {{amortecedorkm[cServ]===""?amortecedorkm[cServ]:0 | number:'1.0-0' }}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="container">
    <div *ngFor="let servicorealizado of servicosrealizado;">
      <div class="alert alert-dismissible alert-success">
        Veiculo:
        <strong>
      {{servicorealizado.veiculo.marca}}
      {{servicorealizado.veiculo.modelo}}
  </strong> PLACA:
        <strong>
    {{servicorealizado.veiculo.placa}}
    </strong>
        <i style='cursor:pointer' class="fa fa-pencil fa-fw" (click)='irVeiculo(servicorealizado.veiculo._id)'></i>
      </div>
      <div class="list-group" *ngFor="let ordemservico of servicorealizado.ordensservico;">
        <a class="list-group-item active">
          <div class='container'>
            <div class='col-sm-3'>
              {{ordemservico.empresanome}}
            </div>
            <div class='col-sm-2'>
              {{ordemservico.data}}
            </div>
            <div class='col-sm-2'>
              Km: {{ordemservico.quilometragem}}
            </div>
            <div class='col-sm-2'>
              Cel.: {{ordemservico.empresacelular}}
            </div>
          </div>
        </a>
        <a class="list-group-item active">
          <div class='container'>
            <div class='col-sm-3'>
              Descrição do serviço
            </div>
            <div class='col-sm-4'>
              Data próx. manutenção
            </div>
            <div class='col-sm-3'>
              Km próx. manutenção
            </div>
          </div>
        </a>
        <a class="list-group-item" *ngFor="let servico of ordemservico.servicos">
          <div class='container'>
            <div class='col-sm-3'>
              <strong> {{servico.descricao}} </strong>
            </div>
            <div class='col-sm-4'>
              {{servico.proximatrocadata}}
            </div>
            <div class='col-sm-3'>
              {{servico.proximatroca}}
            </div>
          </div>
          <div class='container'>
            <div class='col-sm-10'>
              {{servico.observacao}}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
