<form class="form-inline" [formGroup]="form" (submit)="onEnviarServico()">
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <label class="sr-only" for="inlineFormInput">Descrição</label>
    <div [ngClass]="{'has-error':form.controls.descricao.touched &&  (form.controls.descricao.errors), 'has-success': !form.controls.descricao.errors }">
      <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="descricao" #descricao name="descricao" formControlName="descricao" placeholder="*Descriação" autofocus>
    </div>
  </div>
  <label class="sr-only" for="inlineFormInputGroup">Quilometragem</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div [ngClass]="{'has-error':form.controls.quilometragem.touched &&  (form.controls.quilometragem.errors), 'has-success': !form.controls.quilometragem.errors }">
      <input type="text" class="form-control" id="quilometragem" name="quilometragem" formControlName="quilometragem" placeholder="*Quilometragem">
    </div>
  </div>
  <label class="sr-only" for="inlineFormInputGroup">Tempo</label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <div [ngClass]="{'has-error':form.controls.tempo.touched &&  (form.controls.tempo.errors), 'has-success': !form.controls.tempo.errors }">
      <input type="text" class="form-control" id="tempo" name="tempo" formControlName="tempo" placeholder="*Tempo">
    </div>
  </div>
  <button [disabled]="!form.valid" type="submit" class="btn btn-success" >{{(!edit) ? 'Incluir' : 'Editar' }}</button>
  <button *ngIf="(edit)" type="button" class="btn btn-danger" (click)="onDeletar()"  >Deletar</button>
  <button  type="button" class="btn btn-warning" (click)="onLimpar()" >Limpar</button>
</form>

<div class="bs-example" data-example-id="table-within-panel">
  <div class="panel panel-default">
    <div class="panel-heading">Definição dos serviços</div>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>#</th>
          <th>Serviço</th>
          <th>Quilometragem</th>
          <th>Tempo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servico of servicos; let cont = index" (click)="onEditItem(cont)" >
          <th scope="row">{{cont}}</th>
          <td >
              {{servico.descricao}}
          </td>
          <td> {{servico.quilometragem}}</td>
          <td> {{servico.tempo}}</td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
