<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <h1>Bem vindo a YouKar.com.br</h1>
        <p>
          Um lugar onde você saberá sobre as revsões realizada no seu veiculo, dicas para reduzir custo na
          manutenção e para aumentar o preço de venda além de conselhos para garantir a segurança sua e de sua família .
        </p>
        <p>
            <a class="btn btn-lg btn-primary" role="button" (click)="onRegistre()">Registre-se</a></p>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">

  <div class="col-sm-6 col-md-4"> <!-- column 1 -->
    <div class="thumbnail"> <!-- thumbnail 2 -->
      <img src="\assets\images\manutencao.png"
      style="max-height: 90px; "
      class="img-responsive"
      >  <!-- image 2 -->
      <div class="caption">  <!-- caption -->
        <h3>Lembretes de manutentão</h3>
        <p>Realizando o serviço nas oficinas ou centros automotivo parceiros,
          esses irão realizar o cadastro do seu veiculo e os serviços realizados,
          assim como o tempo ou KM da para a próxima manutenção para lembrá-lo da manutenção.</p>
        <!--<p>
          <a href="#" class="btn btn-primary" role="button">Buy Tickets</a>
          <a href="#" class="btn btn-default" role="button">Add to Wishlist</a>
        </p> -->
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4"> <!-- column 2 -->
    <div class="thumbnail"> <!-- thumbnail 2 -->
      <img src="\assets\images\dicas.png"
      style="max-height: 90px; "
      class="img-responsive"
      >
      <div class="caption">  <!-- caption -->
        <h3>Dicas de manutenção</h3>
        <p>Iremos compartilhar situações que ocorrem nas oficinas e centros automotivos
          para evitar que esse problema ocorra com você.</p>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-md-4"> <!-- column 3 -->
    <div class="thumbnail"> <!-- thumbnail 2 -->
      <img src="\assets\images\valorizacao.png"
      style="max-height: 90px; "
      class="img-responsive"
      >
      <div class="caption">  <!-- caption -->
        <h3>Valorização do seu veículo</h3>
        <p>Iremos oferecer gratuitamente um controle on-line sobre as
          manutenções realizadas em seu veículo para evitar a necessidade de
          guardar dezenas de documentos para comprovar os cuidados que você teve com seu veículo. </p>
      </div>
    </div>
  </div>

</div>
