<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-4">
        <h1>CUIDE DO SEU VEÍCULO</h1>
        <p>
          YouKar te avisará sobre as revisões,
          dicas para reduzir custo de manutenção e
          para aumentar o preço de venda, além de conselhos
          para garantir a segurança sua e da sua familia.
        </p>
        <a class="btn btn-lg btn-primary" role="button" (click)="onRegistre()">Registre-se</a>
      </div>
    </div>
  </div>
</div>


<section class="purpose section">
  <div class="container" style="margin-top:80px;margin-bottom:80px">
    <h2 class="title">Missão</h2>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <!-- column 1 -->
        <div class="thumbnail">
          <!-- thumbnail 2 -->
          <img src="\assets\images\manutencao_1.png" class="img-responsive">
          <!-- image 2 -->
          <div class="caption">
            <!-- caption -->
            <h3>Lembretes de manutenção</h3>
            <p>
              Realizando o serviço nas oficinas
              ou centros automotivo parceiros,
              os dados do seu veiculo será cadastrado e
              disponibilizado em sua conta.
            <!--<p>
          <a href="#" class="btn btn-primary" role="button">Buy Tickets</a>
          <a href="#" class="btn btn-default" role="button">Add to Wishlist</a>
        </p> -->
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- column 2 -->
        <div class="thumbnail">
          <!-- thumbnail 2 -->
          <img src="\assets\images\dicas_1.png" class="img-responsive">
          <div class="caption">
            <!-- caption -->
            <h3>Dicas de manutenção</h3>
            <p>Iremos compartilhar situações que ocorrem nas oficinas
              e centros automotivos para evitar que esse problema ocorra
              com você.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <!-- column 3 -->
        <div class="thumbnail">
          <!-- thumbnail 2 -->
          <img src="\assets\images\valorizacao_1.png" class="img-responsive">
          <div class="caption">
            <!-- caption -->
            <h3>Valorização do seu veículo</h3>
            <p>Ofereceremos gratuitamente um controle on-line
              sobre as manutenções realizadas em seu veículo para evitar
              a necessidade de guardar dezenas de documentos para comprovar os
              cuidados que você teve com seu veículo.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--TODO: acrescentar o ano no copyright-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p>YouKar.com.br  &copy; Copyright 2017-2017</p>
            </div>
        </div>
    </div>
</footer>
