<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
            <h1>Bem-vindo a YouKar.com.br</h1>
          <p>Um lugar onde proprietários de veículos encontrarão
            informações sobre o seu veiculo,
            dicas para reduzir custo na manutenção e
            aumentar o preço de venda e conselhos para garantir a
            segurança sua e de sua família.</p>
          <p><a class="btn btn-lg btn-primary" role="button" (click)="onRegistre()">Registre-se</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Disponibilizar os serviços realizados na internet.</h1>
          <p>Acessando o portal, você poderá ter acesso ao histório das manutenção realizadas em seu veículo, desde que ele tenha sido realizado em uma das empresas parceira.</p>
        </div>
      </div>
    </div>
    <div class="item">
        <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Lembretes sobre manutenções.</h1>
            <p>Manteremos contato para informar a data e quilometragem das próximas manutenções.</p>
            <p><a class="btn btn-lg btn-primary" role="button" (click)="onRegistre()">Registre-se</a></p>
          </div>
        </div>
      </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
</div>
<!-- /.carousel -->
