<h1 class="page-header">Pagina de login</h1>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<form [formGroup]="form" (submit)="onLoginSubmi()" >
  <div class="control-group">
    <label class="control-label" for="email">
      Digite seu email de cadastro abaixo e clique em enviar.<br>
      Nós lhe enviaremos um e-mail com link para recadastrar sua senha</label>
    <div >
      <input #email type="text" class="form-control"  id="email" name="email" formControlName="email" placeholder="" >
    </div>
  </div>
  <br>
  <div class="control-group">
    <!-- Button -->
    <div class="controls">
      <button [disabled]="processing" class="btn btn-success">Enviar</button>
      <button [disabled]="processing"  class="btn btn-info" type="button" (click)="onVoltar()" >Voltar</button>
    </div>
  </div>
</form>
