<h1 class="page-header">Pagina de login</h1>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<form [formGroup]="form" (submit)="onLoginSubmi()" >
  <div class="control-group">
    <label class="control-label" for="email">E-mail</label>
    <div [ngClass]="{'has-error':form.controls.email.touched &&  (form.controls.email.errors), 'has-success': !form.controls.email.errors }">
      <input #email type="text" class="form-control"  id="email" name="email" formControlName="email" placeholder="" >
      <ul class="help-block">
        <li *ngIf="form.controls.email.touched && form.controls.email.errors?.required ">Informe o e-mail</li>
      </ul>
    </div>
  </div>
  <div class="control-group">
    <!-- Password-->
    <label class="control-label" for="password">Senha</label>
    <div [ngClass]="{'has-error': form.controls.password.touched && form.controls.password.errors, 'has-success': !form.controls.password.errors }">
      <input type="password" class="form-control"  id="password" name="password"  formControlName="password" placeholder="" >
      <ul class="help-block">
        <li *ngIf="form.controls.password.touched && form.controls.password.errors?.required">Informe a senha</li>
      </ul>
    </div>
  </div>
  <div class="control-group">
    <!-- Button -->
    <div class="controls">
      <button [disabled]="!form.valid || processing" class="btn btn-success">Entrar</button>
    </div>
  </div>
</form>
