<h1 class="page-header">Olá, vamos criar uma senha nova</h1>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<form [formGroup]="form" (submit)="onSubmit()" >

  <div class="control-group">
    <!-- Password-->
    <label class="control-label" for="password">Senha</label>
    <div [ngClass]="{'has-error': form.controls.password.touched && form.controls.password.errors, 'has-success': !form.controls.password.errors }">
      <input type="password" #password class="form-control"  id="password" name="password"  formControlName="password" placeholder="" >
      <ul class="help-block">
        <li *ngIf="form.controls.password.touched && form.controls.password.errors?.minlength">Senha deve ter ao menos 5 caracteres</li>
      </ul>
    </div>
  </div>
  <div class="control-group">
    <!-- Password -->
    <label class="control-label"  for="password_confirm">Senha (Confirmação)</label>
    <div [ngClass]="{'has-error': form.controls.password_confirm.touched &&  form.errors?.matchingPass, 'has-success': form.controls.password_confirm.touched && !form.errors?.matchingPass }">
      <input type="password" class="form-control"  id="password_confirm" name="password_confirm"  formControlName="password_confirm" placeholder="">
      <ul class="help-block">
        <li *ngIf="form.errors?.matchingPass && form.controls.password_confirm.touched" class="help-block">Senha informada diferente da senha anterior</li>
      </ul>
    </div>
  </div>
  <div class="control-group">
    <!-- Button -->
    <div class="controls">
      <button [disabled]="!form.valid || processing " class="btn btn-success">Cadastrar</button>
    </div>
  </div>
</form>

