<h3 class="page-header">Cadastro veículos</h3>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>
<div class="container">
  <form class="form-horizontal" [formGroup]="form" (submit)="enviaDados()">
    <div class="form-group">
      <div class="col-lg-11 col-lg-offset-1">

        <button [disabled]="!form.valid || processing" type="submit" class="btn btn-success">{{(!edit) ? 'Incluir' : 'Salvar' }}</button>
        <!-- <button *ngIf="(edit)" [disabled]="processing"  type="button" class="btn btn-danger" (click)="onDeletar()">Inativar</button>
        <button *ngIf="(!edit)" [disabled]="processing" type="button" class="btn btn-warning" (click)="onLimpar()">Limpar</button> -->
        <button [disabled]="!form.valid || processing" type="button" class="btn btn-success" (click)="onFinalizar()">Finalizar</button>
        <button type="button" [disabled]="processing" class="btn btn-info" (click)="onVoltar()">Voltar</button>
      </div>
    </div>
    <div class="form-group">
      <label for="placa" class="col-lg-1 control-label">Placa</label>
      <div class="col-lg-2">
        <div [ngClass]="{'has-error':((form.controls.placa.touched) &&  (form.controls.placa.errors)), 'has-success': !form.controls.placa.errors }">
          <input type="text" class="form-control" autofocus #placa id="placa" name="placa" formControlName="placa" placeholder="*Placa do veículo"
            (blur)="onPesquisarPlaca()">
          <ul class="help-block">
            <li *ngIf="form.controls.placa.touched && form.controls.placa.errors?.required">Informe a placa</li>
            <li *ngIf="form.controls.placa.touched && form.controls.placa.errors?.pattern">Placa inválida: AAA-9999</li>
          </ul>
        </div>
      </div>
      <label for="marca" class="col-lg-2 control-label">Marca</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="marca" name="marca" formControlName="marca" placeholder="*Marca do veículo">
      </div>
      <label for="modelo" class="col-lg-1 control-label">Modelo</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="modelo" name="modelo" formControlName="modelo" placeholder="*Modelo do veiculo">
      </div>
    </div>
    <div class="form-group">
      <label for="ano" class="col-lg-1 control-label">Ano</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="ano" name="ano" formControlName="ano" placeholder="*ano do veiculo">
      </div>
      <label for="anomodelo" class="col-lg-2 control-label">Ano modelo</label>
      <div class="col-lg-2 col-lg-off-8">
        <input type="text" class="form-control" id="anomodelo" name="anomodelo" formControlName="anomodelo" placeholder="*Ano modelo">
      </div>
      <label for="quilometragem" class="col-lg-1 control-label">KM</label>
      <div class="col-lg-2 col-lg-off-8">
        <div [ngClass]="{'has-error':form.controls.quilometragem.touched &&  (form.controls.quilometragem.errors), 'has-success': !form.controls.quilometragem.errors }">
          <input #quilometragem type="text" class="form-control" id="quilometragem" name="quilometragem" formControlName="quilometragem" placeholder="*Quilometragem">
          <ul class="help-block">
            <li *ngIf="form.controls.quilometragem.touched && form.controls.quilometragem.errors?.required ">Informe quilometragem</li>
            <li *ngIf="form.controls.quilometragem.touched && form.controls.quilometragem.errors?.pattern ">Campo numérico </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="cpf" class="col-lg-1 control-label">CPF</label>
      <div class="col-lg-2">
        <input type="text" class="form-control" id="cpf" name="cpf" formControlName="cpf" placeholder="*CPF do proprietário" (blur)="mudarCpf($event)">
      </div>
      <label for="nome" class="col-lg-2 control-label">Nome</label>
      <div class="col-lg-6">
        <div [ngClass]="{'has-error':form.controls.nome.touched &&  (form.controls.nome.errors), 'has-success': !form.controls.nome.errors }">
          <input type="text" class="form-control" id="nome" name="nome" formControlName="nome" placeholder="*Nome do proprietário">
          <ul class="help-block">
            <li *ngIf="form.controls.nome.touched && form.controls.nome.errors?.required ">Informe a data de nascimento</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="dtnascimento" class="col-lg-1 control-label">Dt. Nasc.</label>
      <div class="col-lg-2">
        <div [ngClass]="{'has-error':form.controls.dtnascimento.touched &&  (form.controls.dtnascimento.errors), 'has-success': !form.controls.dtnascimento.errors }">
          <input type="text" class="form-control" id="dtnascimento" name="dtnascimento" formControlName="dtnascimento" placeholder="*Data nasc. do proprietário">
          <ul class="help-block">
            <li *ngIf="((form.controls.dtnascimento.touched) && ((form.controls.dtnascimento.errors?.pattern) || (form.controls.dtnascimento.errors?.maxlength || form.controls.dtnascimento.errors?.minlength)))">Data inválida</li>
          </ul>
        </div>
      </div>
      <label for="email" class="col-lg-2 control-label">E-mail</label>
      <div class="col-lg-4">
        <div [ngClass]="{'has-error':form.controls.email.touched &&  (form.controls.email.errors), 'has-success': !form.controls.email.errors }">
          <input type="text" class="form-control" id="email" name="email" formControlName="email" placeholder="*E-mail do proprietário">
          <ul class="help-block">
            <li *ngIf="form.controls.email.touched && form.controls.email.errors?.required ">Informe o e-mail</li>
            <li *ngIf="((form.controls.email.touched) && (form.controls.email.errors?.maxlength || form.controls.email.errors?.minlength))">Caracters mínimo: 3, máximo: 15</li>
            <li *ngIf="form.controls.email.touched && form.controls.email.errors?.pattern">Este e-mail deve ser válido</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="bs-example" data-example-id="table-within-panel">
      <div class="panel panel-success">
        <div class="panel-heading">Serviços</div>
      </div>
      <div class="panel-body" formArrayName="servicosForm">
        <div class="panel panel-success"
        *ngFor="let control of form.controls['servicosForm'].controls; let i = index"
        [formGroupName]="i"
        >
          <div class="panel-heading">
            <h3 class="panel-title">
              <div class="checkbox">
                <label>
                  <input type="checkbox" formControlName="selecionado" > {{control.controls.descricao.value}}
                </label>
              </div>
            </h3>
          </div>
          <div class="panel-body">
            <input class="form-control" id="observacao" name="observacao" formControlName="observacao" type="text" value="" placeholder="Observação sobre {{control.controls.descricao.value}}" >
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-11 col-lg-offset-1">
        <!-- <button [disabled]="!form.valid || processing" type="submit" class="btn btn-success">{{(!edit) ? 'Incluir' : 'Editar' }}</button> -->
        <!-- <button *ngIf="(edit)" [disabled]="processing"  type="button" class="btn btn-danger" (click)="onDeletar()">Inativar</button>
        <button *ngIf="(!edit)" [disabled]="processing" type="button" class="btn btn-warning" (click)="onLimpar()">Limpar</button> -->
        <button type="button"  [disabled]="processing" class="btn btn-info" (click)="onVoltar()">Voltar</button>
      </div>
    </div>
  </form>
</div>
