<h1 class="page-header">Dados da empresa</h1>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>
<button *ngIf="!edicao&&!novo" class="btn btn-success" [disabled]='processing' (click)='onNovo()'>Novo</button>
<button *ngIf="edicao" class="btn btn-success" [disabled]='processing' (click)='salvar()'>Salvar</button>
<button *ngIf="edicao||novo" class="btn btn-danger" [disabled]='processing' (click)='cancelarAcao()'>Limpar</button>
<br/>
<ul class="nav nav-tabs" *ngIf="edicao||novo" >
  <li [routerLinkActive]="['active']"><a  routerLink="/empresa/cadastro" routerLinkActive="active" >Cadastro</a></li>
  <li [routerLinkActive]="['active']"><a  routerLink="/empresa/funcionario" routerLinkActive="active" >Funcionário</a></li>
  <li [routerLinkActive]="['active']"><a  routerLink="/empresa/servico" routerLinkActive="active">Serviço</a></li>
  <li [routerLinkActive]="['active']"><a  routerLink="/empresa/pergunta" routerLinkActive="active">Pergunta</a></li>
</ul>
<router-outlet></router-outlet>

