<h1 class="page-header">Dados da empresa</h1>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{message}}
  </div>
</div>

<ul class="nav nav-tabs">
  <li role="Dados cadastrais" [ngClass]="classDadosCadastral"><a (click)="controleNavBar('dadocadastral')" >Home</a></li>
  <li role="Funcionários" [ngClass]="classFuncionario"><a (click)="controleNavBar('funcionario')" >Profile</a></li>
  <li role="Serviços" [ngClass]="classServico"><a (click)="controleNavBar('servico')">Messages</a></li>
</ul>
<router-outlet></router-outlet>
